@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
    direction: rtl;
    font-family: 'Heebo', sans-serif;
    color: #272727;
    font-size: 19pt;
    overflow-x: hidden;
}


#container {
    width: 1280px;
    margin: 0 auto;
}
#boom {
    position:relative;
}

#responsive {
    position: relative;
}

.notActive {
    cursor: not-allowed;
}
.default {
    cursor: default;
}



/*תפריט ניווט*/
/*לוגו בתוך התפריט*/
#homeLogo {
    width: 135px;
    margin-top: -16px;
}

#headerNav {
    position: fixed;
    width: 1280px;
    top: 0px;
    -webkit-box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.50);
    box-shadow: 0px 2px 14px -1px rgba(0,0,0,0.50);
    z-index: 5;
}

nav ul { /* שלב ראשון - העלמת תבליטים*/
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li a { /*שלב שני - תפריט אופקי וצמוד*/
    display: inline-block;
    float: right;
}

#headerNav ul li a { /*העיצוב עצמו*/
    display: block;
    background-color: white;
    color: #272727;
    width: 256px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    padding-top: 22px;
    font-size: 19pt;
}

#headerNav ul li .secondNavStains {
    text-align: right;
    padding-right: 60px;
    width: 196px;
}

#headerNav ul li .navStainsInner {
    text-align: right;
    padding-right: 10px;
    width: 246px;
}

#headerNav ul li #navSI {
    position: absolute;
    top: 0px;
    right: 256px;
}

#headerNav ul li .secondNavKitchen {
    text-align: right;
    padding-right: 96px;
    width: 160px;
}

#headerNav ul li #kitchenNav {
    position: absolute;
    top: 62px;
    right: 768px;
}

#headerNav ul li #navKI {
    position: absolute;
    top: 185px;
    right: 245px;
}

#headerNav ul li .navKitchenInner {
    text-align: right;
    padding-right: 5px;
    width: 246px;
}


#headerNav ul li .topNav {
    display: block;
    background-color: white;
    color: #272727;
    width: 256px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    padding-top: 22px;
    font-size: 19pt;
}

#headerNav ul li#kav img {
    display: inline-block;
}

/*מעבר עכבר מוסיף תמונה*/
#headerNav ul li:hover img {
    display: inline-block;
}

/*מיקומים קווים*/
/*קו הסרת כתמים*/
#lineNav1 {
    width: 193px;
    height: 18px;
    position: absolute;
    top: 43px;
    right: 298px;
    display: none;
}

/*קו כביסה*/
#lineNav2 {
    width: 193px;
    height: 18px;
    position: absolute;
    top: 43px;
    right: 558px;
    display: none;
}

/*קו מטבח*/
#lineNav3 {
    width: 193px;
    height: 18px;
    position: absolute;
    top: 43px;
    right: 816px;
    display: none;
}

/*קו שירותקלחת*/
#lineNav4 {
    width: 193px;
    height: 18px;
    position: absolute;
    top: 43px;
    right: 1070px;
    display: none;
}

/*מעבר עכבר משנה צבע*/
#headerNav ul li a:hover {
    position: relative;
    color: #ea5746;
    font-weight: bold;
}

/*הגדרות של תת תפריט*/
#headerNav ul li ul {
    display: none;
    position: absolute;
}


#headerNav ul li:hover ul {
    display: block;
    right: 256px;
    height: -20px;
    top: 62px;
    -webkit-box-shadow: 0px 16px 13px -1px rgba(0,0,0,0.12);
    box-shadow: 0px 16px 13px -1px rgba(0,0,0,0.12);
}


    /*הגדרות של תת תפריט משני*/

    #headerNav ul li:hover ul li ul { /*תת תפריט לא יופיע ומיקומו יהיה קבוע*/
        display: none;
        position: absolute;
    }

    #headerNav ul li:hover ul li:hover ul {
        display: block;
        right: 256px;
        height: -20px;
        top: 60px;
        -webkit-box-shadow: 0px 16px 13px -1px rgba(0,0,0,0.12);
        box-shadow: 0px 16px 13px -1px rgba(0,0,0,0.12);
    }


#kitchenNav {
    right: 768px;
    top: 60px;
}

/*כפתור נגישות*/

#accButton .redSquareFull {
    position: fixed;
    top: 70px;
    left: -5px;
    width: 145px;
    height: 55px;
    z-index: 6;
}


 #accButton a {
    position: fixed;
    top: 75px;
    left: 15px;
    color: white;
    font-weight: bold;
    font-size: 14pt;
    line-height: 120%;
    text-align: center;
    z-index: 7;
    text-decoration: none;
}
 #accButton a:visited {
        text-decoration: none;
    }

 /*דלג לתוכן העמוד*/

#skip {
    position: absolute;
    left: -99999px;
    height: 10px;
    width: 10px
}
#skip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: 0;
    text-align: center;
    list-style: outside none;
}

    #skip li {
        list-style-type: none
    }

        #skip a:focus, #skip a:active {
            position: relative;
            left: 0;
            top: 50px;
            z-index: 9999;
            width: 75%;
            height: auto;
            margin: 0 auto;
            padding: 30px 45px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            color: #ff5a44;
            border: 1px dotted #272727;
            background-color: white;
        }

/*עיצוב תפריט פירורי לחם*/

#breadCrumbs {
    position: absolute;
    top: 175px;
    z-index: 4;
}

    #breadCrumbs ol li {
        display: inline-block;
        font-size: 14pt;
    }

        #breadCrumbs ol li a {
            color: #272727;
        }

        #breadCrumbs ol li:after {
            content: ">";
        }

        #breadCrumbs ol li:last-child:after {
            content: "";
        }

        #breadCrumbs ol li:last-child {
            color: #ea5746;
            font-weight: bold;
        }


/*עיצוב תפריט אנכי*/

#wrapperSideNav {
    position: absolute;
    top: 220px;
    width: 230px;
    z-index: 4;
    height: 5620px;
}

#sideNav {
    position: sticky;
    width: 270px;
    top: 90px;
    right: 38px;
    margin-right: 40px;
    -webkit-box-shadow: 1px 4px 25px 1px rgba(0,0,0,0.30);
    box-shadow: 1px 4px 25px 1px rgba(0,0,0,0.30);
    z-index: 10;
    overflow: hidden;
}

    #sideNav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #sideNav li a {
        display: block;
    }

    #sideNav ul li #titleNav {
        text-decoration: none;
        font-size: 22pt;
        color: #ea5746;
        width: 255px;
        height: 30px;
        font-weight: bold;
        text-align: right;
        padding-right: 20px;
    }

    #sideNav ul li a {
        display: block;
        background-color: white;
        color: #272727;
        width: 237px;
        height: 30px;
        text-decoration: none;
        text-align: right;
        padding-top: 22px;
        padding-right: 38px;
        font-size: 18pt;
        z-index: 6;
    }

#whiteShoes {
    padding-bottom: 10px;
}

/*במעבר עכבר הופך לאדום*/
#sideNav ul li a:hover {
    position: relative;
    color: #ea5746;
    font-weight: bold;
}


/*עיצוב תמונה עליונה - אקססוריז*/
#accessoriesTop {
    background-image: url('../images/accessoriesTop.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 980px;
    height: 260px;
    position: absolute;
    top: -10px;
    right: 150px;
    z-index: 0;

}

/*כתמי צבע*/

#ketemYellow {
    background-image: url('../images/ketemYellow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    height: 600px;
    position: absolute;
    top: -200px;
    right: -100px;
    z-index: 0;
    transform: rotate(20deg);
}
#ketemPink1 {
    background-image: url('../images/KetemPink.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 130px;
    right: 900px;
    z-index: 0;
}
#ketemBlue1 {
    background-image: url('../images/KetemBlue.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 390px;
    right: 0px;
    z-index: 0;
}

#ketemYellow1 {
    background-image: url('../images/ketemYellow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 430px;
    height: 500px;
    position: absolute;
    top: 800px;
    right: 1050px;
    z-index: 0;
}
#ketemPink2 {
    background-image: url('../images/KetemPink.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 450px;
    position: absolute;
    top: 1100px;
    right: 70px;
    z-index: 0;
    transform: rotate(20deg);
}

#ketemBlue2 {
    background-image: url('../images/KetemBlue.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 1400px;
    right: 900px;
    z-index: 0;
}

#ketemYellow2 {
    background-image: url('../images/ketemYellow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 430px;
    height: 500px;
    position: absolute;
    top: 1580px;
    right: 0px;
    z-index: 0;
    transform: rotate(50deg);
}

#ketemPink3 {
    background-image: url('../images/KetemPink.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 450px;
    position: absolute;
    top: 1950px;
    right: 1000px;
    z-index: 0;
    transform: rotate(20deg);
}

#ketemBlue3 {
    background-image: url('../images/KetemBlue.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 650px;
    position: absolute;
    top: 2300px;
    right: -200px;
    z-index: 0;
    transform: rotate(110deg);
}

#ketemYellow3 {
    background-image: url('../images/ketemYellow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 430px;
    height: 500px;
    position: absolute;
    top: 2550px;
    right: 1000px;
    z-index: 0;
    transform: rotate(50deg);
}

#ketemPink4 {
    background-image: url('../images/KetemPink.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 2900px;
    right: 100px;
    z-index: 0;
    transform: rotate(20deg);
}

#ketemBlue4 {
    background-image: url('../images/KetemBlue.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 650px;
    position: absolute;
    top: 3100px;
    right: 900px;
    z-index: 0;
}

#ketemYellow4 {
    background-image: url('../images/ketemYellow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 3400px;
    right: 120px;
    z-index: 0;
    transform: rotate(60deg);
}

#ketemPink5 {
    background-image: url('../images/KetemPink.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 3880px;
    right: 1000px;
    z-index: 0;
    transform: rotate(20deg);
}

#ketemBlue5 {
    background-image: url('../images/KetemBlue.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 650px;
    position: absolute;
    top: 4050px;
    right: -100px;
    z-index: 0;
    transform: rotate(135deg);
}

#ketemYellow5 {
    background-image: url('../images/ketemYellow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 4350px;
    right: 900px;
    z-index: 0;
    transform: rotate(145deg);
}

#ketemPink6 {
    background-image: url('../images/KetemPink.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 4700px;
    right: 50px;
    z-index: 0;
    transform: rotate(150deg);
}

#ketemBlue6 {
    background-image: url('../images/KetemBlue.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 500px;
    position: absolute;
    top: 5100px;
    right: 1000px;
    z-index: 0;
    transform: rotate(0deg);
}

#ketemYellow6 {
    background-image: url('../images/ketemYellow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 5400px;
    right: 0px;
    z-index: 0;
    transform: rotate(0deg);
}


#accessoriesSpan {
    position: absolute;
    top: 190px;
}
h1 {
    font-size: 40pt;
    font-weight: normal;
    position: absolute;
    top: 260px;
    right: 525px;
}



/*הגדרות לכל הכותרות ברמה 2*/
/*הגדרות למיקומי הקטגוריות באמצעות ספאן*/


#removalAvnitSpan {
    position:absolute;
    top: 292px;
}
#removalAvnit h2 {
    font-size: 28pt;
    font-weight: normal;
    position: absolute;
    top: 362px;
    right: 352px;
}


#cleaningKufsaSpan {
    position:absolute;
    top:2058px;
}
#cleaningKufsa h2 {
    font-size: 28pt;
    font-weight: normal;
    position: absolute;
    top: 2128px;
    right: 352px;
}

#cleaningKereshSpan {
    position:absolute;
    top:3345px;
}
#cleaningKeresh h2 {
    font-size: 28pt;
    font-weight: normal;
    position: absolute;
    top: 3415px;
    right: 365px;
}

#cleaningSirSpan{
    position:absolute;
    top:4535px;
}
#cleaningSir h2 {
    font-size: 28pt;
    font-weight: normal;
    position: absolute;
    top: 4605px;
    right: 357px;
}



/*תמונות לבנות*/
/*הסרת אבנית*/
#boxAvnit1 {
    background-image: url('../images/boxAvnit1.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 295px;
    top: 237px;
    width: 980px;
    height: 810px;
    z-index: 1;
    background-size: cover;
}

#boxAvnit2 {
    background-image: url('../images/boxAvnit2.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 295px;
    top: 895px;
    width: 980px;
    height: 810px;
    z-index: 1;
    background-size: cover;
}

#boxAvnit3 {
    background-image: url('../images/boxAvnit3.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 295px;
    top: 1447px;
    width: 980px;
    height: 810px;
    z-index: 1;
    background-size: cover;
}


/*ניקוי קופסאות אוכל*/

#boxKufsa1 {
    background-image: url('../images/boxKufsa1.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 295px;
    top: 2000px;
    width: 980px;
    height: 810px;
    z-index: 1;
    background-size: cover;
}
#boxKufsa2 {
    background-image: url('../images/boxKufsa2.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 295px;
    top: 2680px;
    width: 980px;
    height: 810px;
    z-index: 1;
    background-size: cover;
}

/*ניקוי קרש חיתוך*/
#boxKeresh1 {
    background-image: url('../images/boxKeresh1.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 295px;
    top: 3285px;
    width: 980px;
    height: 810px;
    z-index: 1;
    background-size: cover;
}
#boxKeresh2 {
    background-image: url('../images/boxKeresh2.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 295px;
    top: 3900px;
    width: 980px;
    height: 810px;
    z-index: 1;
    background-size: cover;
}

/*ניקוי סירים ומחבתות*/
#boxSir1 {
    background-image: url('../images/boxSir1.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 295px;
    top: 4480px;
    width: 980px;
    height: 810px;
    z-index: 1;
    background-size: cover;
}

#boxSir2 {
    background-image: url('../images/boxSir2.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 295px;
    top: 5150px;
    width: 980px;
    height: 810px;
    z-index: 1;
    background-size: cover;
}

/*הגדרות כלליות לאלמנטים בתוך הסקשנים*/

/*הסרת אבנית*/
#removalAvnit1 {
    z-index: 2;
    position: absolute;
    right: 490px;
    width: 580px;
    top: 430px;
}

#removalAvnit2 {
    z-index: 2;
    position: absolute;
    right: 490px;
    width: 580px;
    top: 1106px;
}

#removalAvnit3 {
    z-index: 2;
    position: absolute;
    right: 500px;
    width: 580px;
    top: 1660px;
}


/*ניקוי קופסאות אוכל*/
#cleaningKufsa1 {
    z-index: 2;
    position: absolute;
    right: 490px;
    width: 580px;
    top: 2192px;
}

#cleaningKufsa2 {
    z-index: 2;
    position: absolute;
    right: 500px;
    width: 580px;
    top: 2890px;
}

/*ניקוי קרש חיתוך*/
#cleaningKeresh1 {
    z-index: 2;
    position: absolute;
    right: 495px;
    width: 580px;
    top: 3478px;
}

#cleaningKeresh2 {
    z-index: 2;
    position: absolute;
    right: 500px;
    width: 580px;
    top: 4112px;
}

/*ניקוי סירים ומחבתות*/
#cleaningSir1 {
    z-index: 2;
    position: absolute;
    right: 490px;
    width: 580px;
    top: 4670px;
}

#cleaningSir2 {
    z-index: 2;
    position: absolute;
    right: 500px;
    width: 580px;
    top: 5360px;
}

/*תמונות*/
.TVcolor {
    width: 125px;
    height: 125px;
    position: absolute;
    top: -30px;
    right: 550px;
    z-index: 4;
}

.images img {
    position: absolute;
}

/*כל הדיבים שבתוך אימגס*/
.images div {
    font-size: 14pt;
    margin-top: 60px;
    margin-right: 60px;
    display: inline-block;
}

/*תמונות אייקונים*/

/*הסרת אבנית*/
#removalAvnit1 .saltLemon img {
    width: 140px;
    height: 210px;
    top: 135px;
    right: 106px;
}

#removalAvnit2 .hometz img {
    width: 95px;
    height: 150px;
    top: 50px;
    right: 115px;
}


#removalAvnit2 .water img {
    width: 120px;
    height: 190px;
    top: 30px;
    right: 350px;
}


#removalAvnit3 .soda img {
    width: 120px;
    height: 180px;
    top: 35px;
    right: 145px;
}

#removalAvnit3 .water img {
    width: 120px;
    height: 190px;
    top: 30px;
    right: 400px;
}

/*ניקוי קופסאות אוכל*/

#cleaningKufsa1 .sabon img {
    width: 155px;
    height: 240px;
    top: 160px;
    right: 70px;
}
#cleaningKufsa1 .neiyarSofeg img {
    width: 120px;
    height: 200px;
    top: 180px;
    right: 283px;
}
#cleaningKufsa1 .water img {
    width: 120px;
    height: 190px;
    top: 195px;
    right: 470px;
}

.images div .divKufsa {
    margin-right: -15px;
}


#cleaningKufsa2 .sugar img {
    width: 120px;
    height: 190px;
    top: 35px;
    right: 30px;
}

#cleaningKufsa2 .sabon img {
    width: 155px;
    height: 240px;
    top: 15px;
    right: 150px;
}

#cleaningKufsa2 .ice img {
    width: 95px;
    height: 140px;
    top: 55px;
    right: 305px;
}

#cleaningKufsa2 .water img {
    width: 120px;
    height: 190px;
    top: 40px;
    right: 430px;
}

/*ניקוי קרש חיתוך*/
#cleaningKeresh1 .lemon img {
    width: 120px;
    height: 160px;
    top: 150px;
    right: 90px;
}

#cleaningKeresh1 .salt img {
    width: 95px;
    height: 150px;
    top: 160px;
    right: 300px;
}
#cleaningKeresh2 .potato img {
    width: 110px;
    height: 170px;
    top: 35px;
    right: 138px;
}

/*ניקוי סירים ומחבתות*/
.images div .divSir {
    margin-right: 35px;
}

#cleaningSir1 .sabon img {
    width: 155px;
    height: 240px;
    top: 125px;
    right: 47px;
}

#cleaningSir1 .avkatkvisa img {
    width: 120px;
    height: 180px;
    top: 148px;
    right: 290px;
}

#cleaningSir1 .water img {
    width: 120px;
    height: 190px;
    top: 150px;
    right: 488px;
}

.images div .divSir2 {
    margin-right: 20px;
}
#cleaningSir2 .hometz img {
    width: 95px;
    height: 150px;
    top: 50px;
    right: 70px;
}

#cleaningSir2 .soda img {
    width: 120px;
    height: 180px;
    top: 40px;
    right: 264px;
}

#cleaningSir2 .water img {
    width: 120px;
    height: 190px;
    top: 45px;
    right: 470px;
}

/*פלוסים*/

#plusA1 {
    width: 40px;
    height: 40px;
    top: 100px;
    right: 260px;
}

#plusA2 {
    width: 40px;
    height: 40px;
    top: 100px;
    right: 320px;
}

#plusK1 {
    width: 40px;
    height: 40px;
    top: 260px;
    right: 227px;
}

#plusK2 {
    width: 40px;
    height: 40px;
    top: 260px;
    right: 420px;
}

#plusK3 {
    width: 40px;
    height: 40px;
    top: 120px;
    right: 140px;
}

#plusK4 {
    width: 40px;
    height: 40px;
    top: 120px;
    right: 265px;
}

#plusK5 {
    width: 40px;
    height: 40px;
    top: 120px;
    right: 395px;
}
#plusKe1 {
    width: 40px;
    height: 40px;
    top: 225px;
    right: 230px;
}

#plusS1 {
    width: 40px;
    height: 40px;
    top: 225px;
    right: 193px;
}

#plusS2 {
    width: 40px;
    height: 40px;
    top: 225px;
    right: 443px;
}
#plusS3 {
    width: 40px;
    height: 40px;
    top: 120px;
    right: 170px;
}

#plusS4 {
    width: 40px;
    height: 40px;
    top: 120px;
    right: 423px;
}
/*הגדרה כללית לכותרת רמה 3*/


h3, .contentTitle {
    font-size: 24pt;
    font-weight: normal;
    
}

/*הגדרות כלליות לכותרות פנימיות*/
.big {
    font-size: 18pt;
    font-weight: normal;
    padding-top: 15px;
}

/*הגדרות כלליות לפסקאות פנימיות*/
p {
    font-size: 14pt;
    line-height: 120%;
    padding-top: 15px;
}



/*פוטר*/
#footer {
    background-image: url('../images/footerYellow.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 5910px;
    right: 0px;
    z-index: 0;
    background-size: cover;
    width: 1280px;
    height: 150px;
}



#footerNav {
    position: absolute;
    width: 1000px;
    top: 5998px;
    z-index: 5;
    right: 140px;
}


    #footerNav ul li a { /*העיצוב עצמו*/
        display: block;
        color: #272727;
        width: 160px;
        height: 40px;
        text-decoration: none;
        text-align: center;
        padding-top: 21px;
        margin-right: 80px;
    }



    /*מעבר עכבר מוסיף תמונה*/
    #footerNav ul li:hover img {
        display: inline-block;
    }

/*מיקומים קווים*/
/*קו הסרת כתמים*/
#squareNav1 {
    width: 170px;
    height: 43px;
    position: absolute;
    top: 12px;
    right: 76px;
    display: none;
}

#squareNav2 {
    width: 170px;
    height: 43px;
    position: absolute;
    top: 12px;
    right: 320px;
    display: none;
}

#squareNav3 {
    width: 170px;
    height: 43px;
    position: absolute;
    top: 12px;
    right: 558px;
    display: none;
}

#squareNav4 {
    width: 170px;
    height: 43px;
    position: absolute;
    top: 12px;
    right: 795px;
    display: none;
}

